.navbar {
  font-size: 1.2rem;
  padding: 0.3rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .logo {
      font-size: 2rem;
    }

    ul {
      justify-self: flex-end;

      display: flex;
      //   justify-content: center;
      align-items: center;

      a {
        padding: 0 1rem;
        position: relative;

        &:hover::after {
          content: "";

          position: absolute;
          left: 11px;
          bottom: 0;

          border-bottom: 1px solid rgb(121, 117, 117);
          width: 75%;
        }
      }
    }
  }
}
