.section-a {
  margin: 2rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-content: center;
    align-items: center;
    gap: 3rem;

    h1 {
      font-size: 4rem;
    }

    p {
      margin: 1rem 0;
    }

    .btn {
      display: inline-block;
      background: $primary-color;
      border-radius: 30px;
      //   border: none;
      //   cursor: pointer;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.8rem 1.5rem;
      transition: background 0.2s ease;

      &:hover {
        background: $secondary-color;
      }
    }
  }
}
